In [5]:
# Bibliotheken

# Pandas
import pandas as pd 

# NumPy
import numpy as np

# Matplotlib
import matplotlib 
import matplotlib.pyplot as plt

# sklearn
from sklearn.model_selection import train_test_split
from sklearn import tree

In [9]:
data = pd.read_csv("20newsgroups_processed.csv")
data.describe()

,,=,,>,,space,,don\'t,people,like,...,media,charge,washington,let\,moment,published,fairly,refer,child,groupID
count,3370.0,3370.0,3370.0,3370.0,3370.0,3370.000000,3370.0,3370.0,3370.000000,3370.000000,...,3370.000000,3370.000000,3370.000000,3370.0,3370.000000,3370.000000,3370.000000,3370.000000,3370.000000,3370.000000
mean,0.0,0.0,0.0,0.0,0.0,0.400593,0.0,0.0,0.361128,0.359644,...,0.019585,0.019585,0.019585,0.0,0.019585,0.019585,0.019585,0.019585,0.019585,1.427003
std,0.0,0.0,0.0,0.0,0.0,2.644304,0.0,0.0,1.288982,1.019855,...,0.198471,0.177970,0.368187,0.0,0.208677,0.184521,0.150893,0.254789,0.254789,1.043509
min,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,0.0,0.0,0.0,0.0,0.0,70.000000,0.0,0.0,28.000000,20.000000,...,6.000000,4.000000,19.000000,0.0,8.000000,4.000000,2.000000,12.000000,7.000000,3.000000

In [16]:
X = data.iloc[:,0:1000]

y = data[["groupID"]].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42, stratify=y)

In [17]:
print(data.shape)
print(X.shape)
print(y.shape)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(3370, 1001)
(3370, 1000)
(3370,)
(2696, 1000)
(2696,)
(674, 1000)
(674,)

In [18]:
clf = tree.DecisionTreeClassifier(random_state=42)

In [19]:
clf = clf.fit(X_train, y_train)

In [21]:
predict = clf.predict(X_test)

In [28]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
print("F-Score: ",f1_score(predict, y_test, average='weighted'))
print("Precision: ",precision_score(predict, y_test, average='weighted'))
print("Recall: ",recall_score(predict, y_test, average='weighted'))

F-Score:  0.604929839960048
Precision:  0.6070626717615853
Recall:  0.6038575667655787