In [83]:
# Bibliotheken

# Pandas
import pandas as pd 

# NumPy
import numpy as np

# Matplotlib
import matplotlib 
import matplotlib.pyplot as plt

# sklearn
from sklearn.model_selection import train_test_split
from sklearn import tree

In [84]:
data = pd.read_csv("20newsgroups_freqList.csv")
data.describe()

,atheists,argument,atheism,atheist,islam,exist,theism,quran,islamic,fallacy,...,1959,1973,1995,predicted,rotational,1972,pasadena,completed,plastic,groupID
count,3370.000000,3370.000000,3370.000000,3370.000000,3370.00000,3370.000000,3370.000000,3370.000000,3370.000000,3370.000000,...,3370.0,3370.0,3370.0,3370.000000,3370.000000,3370.0,3370.000000,3370.000000,3370.000000,3370.000000
mean,0.066172,0.082196,0.067062,0.047774,0.04451,0.059050,0.027300,0.006825,0.026113,0.022849,...,0.0,0.0,0.0,0.006528,0.005045,0.0,0.005045,0.005341,0.004451,1.427003
std,1.331430,1.069037,0.963083,0.523507,0.54354,0.470327,0.581573,0.127588,0.299253,0.886099,...,0.0,0.0,0.0,0.090931,0.151096,0.0,0.078790,0.076863,0.101828,1.043509
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2.000000
max,73.000000,56.000000,45.000000,17.000000,23.00000,17.000000,24.000000,4.000000,9.000000,51.000000,...,0.0,0.0,0.0,3.000000,6.000000,0.0,2.000000,2.000000,5.000000,3.000000

In [85]:
X = data.iloc[:,0:1000]

y = data[["groupID"]].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42, stratify=y)

In [86]:
print(data.shape)
print(X.shape)
print(y.shape)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(3370, 2801)
(3370, 1000)
(3370,)
(2696, 1000)
(2696,)
(674, 1000)
(674,)

In [87]:
clf = tree.DecisionTreeClassifier(random_state=42)

In [88]:
clf = clf.fit(X_train, y_train)

In [89]:
predict = clf.predict(X_test)

In [90]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
print("F-Score: ",f1_score(predict, y_test, average='weighted'))
print("Precision: ",precision_score(predict, y_test, average='weighted'))
print("Recall: ",recall_score(predict, y_test, average='weighted'))

F-Score:  0.5337113447096694
Precision:  0.7475501474885444
Recall:  0.4807121661721068