Imports:

In [26]:
import pandas as pd
import spacy
import re

nlp = spacy.load("en_core_web_sm")

Preprocessing Methods:

In [7]:
def lemma(text):
    doc = nlp(text)
    text = " ".join(token.lemma_ for token in doc)
    return text

In [43]:
def stop_words(text):
    doc = nlp(text)
    text = " ".join([token.text for token in doc if not token.is_stop])
    return text

In [39]:
def punct(text):
    doc = nlp(text)
    text = ' '.join(token.text for token in doc if not token.is_punct)
    return text

In [27]:
def space(text):
    text = re.sub(r'\s+', ' ', text).strip()
    return text

In [34]:
def sonderzeichen(text):
    text = re.sub(r'[^a-zA-Z0-9\s.,!?;:()""\'-]', '', text)
    return text

In [48]:
def lower(text):
    doc = nlp(text)
    text = ' '.join(token.lower_ for token in doc)
    return text

In [50]:
def nouns(text):
    doc = nlp(text)
    text = ' '.join([token.text for token in doc if token.pos_ == "NOUN"])
    return text

Usage:

In [37]:
dataOrigin = pd.read_csv("20 newsgroups/20 newsgroups.csv", on_bad_lines='skip', sep=';')
dataOrigin = dataOrigin.dropna()
dataOrigin = dataOrigin.drop_duplicates()
dataOrigin.head()

   ID                                               text  group
0   0  'Hi,  I\'ve noticed that if you only save a mo...      1
1   1  '  Seems to be, barring evidence to the contra...      3
2   2  '  >In article <1993Apr19.020359.26996@sq.sq.c...      2
3   3  'I have a request for those who would like to ...      0
4   4  'AW&ST  had a brief blurb on a Manned Lunar Ex...      2

Lemma only:

In [ ]:
dataLemma = dataOrigin
dataLemma['text'] = dataLemma['text'].astype(str).apply(lemma)
dataLemma.to_csv("preprocessed/dataLemma.csv", index=False, sep=";")
dataLemmaTest = pd.read_csv("preprocessed/dataLemma.csv", on_bad_lines='skip', sep=';')
dataLemmaTest.head()

In [28]:
dataSpace = dataOrigin
dataSpace['text'] = dataSpace['text'].astype(str).apply(space)
dataSpace.to_csv("preprocessed/dataSpace.csv", index=False, sep=";")
dataSpaceTest = pd.read_csv("preprocessed/dataSpace.csv", on_bad_lines='skip', sep=';')
dataSpaceTest.head()

   ID                                               text  group
0   0  ' hi , i\'ve notice that if you only save a mo...      1
1   1  ' seem to be , bar evidence to the contrary , ...      3
2   2  ' > in article < 1993apr19.020359.26996@sq.sq....      2
3   3  ' I have a request for those who would like to...      0
4   4  ' aw&st have a brief blurb on a Manned Lunar E...      2

In [38]:
dataSonderzeichen = dataOrigin
dataSonderzeichen['text'] = dataSonderzeichen['text'].astype(str).apply(sonderzeichen)
dataSonderzeichen.to_csv("preprocessed/dataSonderzeichen.csv", index=False, sep=";")
dataSonderzeichenTest = pd.read_csv("preprocessed/dataSonderzeichen.csv", on_bad_lines='skip', sep=';')
dataSonderzeichenTest.head()

   ID                                               text  group
0   0  'Hi,  I've noticed that if you only save a mod...      1
1   1  '  Seems to be, barring evidence to the contra...      3
2   2  '  In article 1993Apr19.020359.26996sq.sq.com,...      2
3   3  'I have a request for those who would like to ...      0
4   4  'AWST  had a brief blurb on a Manned Lunar Exp...      2

In [42]:
dataPunct = dataOrigin
dataPunct['text'] = dataPunct['text'].astype(str).apply(punct)
dataPunct.to_csv("preprocessed/dataPunct.csv", index=False, sep=";")
dataPunctTest = pd.read_csv("preprocessed/dataPunct.csv", on_bad_lines='skip', sep=';')
dataPunctTest.head()

   ID                                               text  group
0   0  Hi I 've noticed that if you only save a model...      1
1   1  Seems to be barring evidence to the contrary t...      3
2   2  In article 1993Apr19.020359.26996sq.sq.com msb...      2
3   3  I have a request for those who would like to s...      0
4   4  AWST had a brief blurb on a Manned Lunar Explo...      2

In [44]:
dataStop = dataOrigin
dataStop['text'] = dataStop['text'].astype(str).apply(stop_words)
dataStop.to_csv("preprocessed/dataStop.csv", index=False, sep=";")
dataStopTest = pd.read_csv("preprocessed/dataStop.csv", on_bad_lines='skip', sep=';')
dataStopTest.head()

   ID                                               text  group
0   0  Hi ' ve noticed save model mapping planes posi...      1
1   1  barring evidence contrary Koresh simply derang...      3
2   2  article 1993Apr19.020359.26996sq.sq.com msbsq....      2
3   3  request like Charley Wingate respond Charley C...      0
4   4  AWST brief blurb Manned Lunar Exploration conf...      2

In [49]:
dataLower = dataOrigin
dataLower['text'] = dataLower['text'].astype(str).apply(lower)
dataLower.to_csv("preprocessed/dataLower.csv", index=False, sep=";")
dataLowerTest = pd.read_csv("preprocessed/dataLower.csv", on_bad_lines='skip', sep=';')
dataLowerTest.head()

   ID                                               text  group
0   0  hi ' ve noticed save model mapping planes posi...      1
1   1  barring evidence contrary koresh simply derang...      3
2   2  article 1993apr19.020359.26996sq.sq.com msbsq....      2
3   3  request like charley wingate respond charley c...      0
4   4  awst brief blurb manned lunar exploration conf...      2

In [51]:
dataNoun = dataOrigin
dataNoun['text'] = dataNoun['text'].astype(str).apply(nouns)
dataNoun.to_csv("preprocessed/dataNoun.csv", index=False, sep=";")
dataNounTest = pd.read_csv("preprocessed/dataNoun.csv", on_bad_lines='skip', sep=';')
dataNounTest.head()

   ID                                               text  group
0   0  model mapping planes file 3ds default position...      1
1   1  evidence koresh thought bunch folks children n...      3
2   2  article figure jgsorry language periapsis apoa...      2
3   3  request wingate challenges e mail articles cha...      0
4   4             exploration confernce crystal auspices      2