In [ ]:
# Bibliotheken

# Pandas
import pandas as pd 

# NumPy
import numpy as np

# sklearn
from sklearn.model_selection import train_test_split
from sklearn import tree 

import warnings
warnings.simplefilter("default")

Abspeichern Daten Satz in einem panda Frame und Ausgabe Informationen

In [3]:
data = pd.read_csv("20 newsgroups/20newsgroups.csv", on_bad_lines='skip', sep=';')
print(data.head(), "\n")
data = data.iloc[:,1:3]

doppelte_zeilen = data.duplicated().sum()
na_zeilen = data.isna().sum()
data = data.dropna()
data = data.drop_duplicates()
print("Anzahl doppelter Zeilen:", doppelte_zeilen)
print("Anzahl null Zeilen:", na_zeilen,"\n")

data.info()
#Theoretisch möglich Datentypen anzugeben

   ID                                               text  group
0   0  'Hi,  I\'ve noticed that if you only save a mo...      1
1   1  '  Seems to be, barring evidence to the contra...      3
2   2  '  >In article <1993Apr19.020359.26996@sq.sq.c...      2
3   3  'I have a request for those who would like to ...      0
4   4  'AW&ST  had a brief blurb on a Manned Lunar Ex...      2

Anzahl doppelter Zeilen: 89
Anzahl null Zeilen: text     90
group     0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Index: 3277 entries, 0 to 3369
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3277 non-null   object
 1   group   3277 non-null   int64
dtypes: int64(1), object(1)
memory usage: 76.8+ KB

Ausgabe Gruppenverteilung

In [4]:
class_counts = data['group'].value_counts()
print(class_counts)

group
2    951
1    947
0    776
3    603
Name: count, dtype: int64

Ausgabe Durchschnitts Textlänge

In [5]:
# Berechnung der Textlängen
data['text_length'] = data['text'].apply(len)

# Berechnung des Durchschnitts der Textlängen
average_text_length = data['text_length'].mean()

# Ausgabe des Durchschnitts
print(f'Durchschnittliche Textlänge: {average_text_length:.2f} Zeichen')

Durchschnittliche Textlänge: 1290.73 Zeichen

In [6]:
data.describe()

             group   text_length
count  3277.000000   3277.000000
mean      1.421422   1290.728105
std       1.042008   4035.460937
min       0.000000      1.000000
25%       1.000000    245.000000
50%       1.000000    492.000000
75%       2.000000   1027.000000
max       3.000000  61551.000000